aiohttp           # Apache-2.0 license <https://github.com/aio-libs/aiohttp>
beautifulsoup4    # MIT license <https://code.launchpad.net/beautifulsoup>
cryptography      # Apache-2.0 license <https://github.com/pyca/cryptography>
Levenshtein       # GPL-2.0 license <https://github.com/maxbachmann/python-Levenshtein>
lxml              # BSD license <https://github.com/lxml/lxml>
opencv-python     # MIT license <https://github.com/opencv/opencv-python>
Pillow            # HPND License <https://github.com/python-pillow/Pillow>
pykakasi          # GPL-3.0 license <https://github.com/miurahr/pykakasi>
scikit-learn      # BSD-3-Clause license <https://github.com/scikit-learn/scikit-learn>
typing_extensions # Python Software Foundation License <https://github.com/python/typing_extensions>
rapidfuzz==2.0.6  # MIT license <https://github.com/maxbachmann/RapidFuzz>
